#!/bin/sh
if [ "${CRYPTTAB_NAME}" != "" ]
then
   TMP_FILE=".tpm2-getkey.${CRYPTTAB_NAME}.tmp"

   if [ -f "${TMP_FILE}" ]
   then
      # tmp file exists, meaning we tried the TPM2 this boot, but it didn’t work for the drive and this must be the second
      # or later try to unlock the drive. Either the TPM2 is failed/missing, or has the wrong key stored in it.
      /lib/cryptsetup/askpass "Automatic disk unlock via tpm2-getkey failed for (${CRYPTTAB_SOURCE}) Enter passphrase: "
      exit
   fi

   # No tmp, so it is the first time trying the script. Create a tmp file and try the TPM
   touch "${TMP_FILE}"
   tpm2_nvread -s {{ keysize }} {{ keyarea }}
else
   tpm2_nvread -s {{ keysize }} {{ keyarea }}
fi