[Data Source]
DisplayName={{ data_dict.username }}@anexia.com
Enabled=true
Parent=f0a7e7f5a00db376e2a50d770ba037253b3d3c36

[Mail Transport]
BackendName=ews

[Exchange Web Services Folder]
ChangeKey=
Id=
Foreign=false
ForeignSubfolders=false
ForeignMail=
FreebusyWeeksBefore=1
FreebusyWeeksAfter=5
Name=
Public=false
UsePrimaryAddress=false
FetchGalPhotos=true
