[Data Source]
DisplayName={{ data_dict.username }}@anexia.com
Enabled=true
Parent=f0a7e7f5a00db376e2a50d770ba037253b3d3c36

[Mail Submission]
SentFolder=folder://ac1ba36696307e7641c49b8bedf84b961343bf6c/Sent%20Items
TransportUid=3135d96bc542373cdadb0c25a8d3dbe942ccde60
RepliesToOriginFolder=false
UseSentFolder=true

[Mail Composition]
Bcc=
Cc=
DraftsFolder=folder://ac1ba36696307e7641c49b8bedf84b961343bf6c/Drafts
ReplyStyle=default
SignImip=true
TemplatesFolder=folder://local/Templates
StartBottom=inconsistent
TopSignature=inconsistent
Language=

[Mail Identity]
Address={{ data_dict.username }}@anexia.com
Aliases=
Name={{ data_dict.gecos }}
Organization=
ReplyTo=
SignatureUid=none

[Pretty Good Privacy (OpenPGP)]
AlwaysTrust=false
EncryptToSelf=true
KeyId=
SigningAlgorithm=
SignByDefault=false
EncryptByDefault=false
PreferInline=false
LocateKeys=true
SendPublicKey=true
SendPreferEncrypt=true
AskSendPublicKey=true

[Message Disposition Notifications]
ResponsePolicy=ask

[Secure MIME (S/MIME)]
EncryptionCertificate=
EncryptByDefault=false
EncryptToSelf=true
SigningAlgorithm=
SigningCertificate=
SignByDefault=false

[Exchange Web Services Folder]
ChangeKey=
Id=
Foreign=false
ForeignSubfolders=false
ForeignMail=
FreebusyWeeksBefore=1
FreebusyWeeksAfter=5
Name=
Public=false
UsePrimaryAddress=false
FetchGalPhotos=true
